body {
  overflow-x: hidden;
}
#container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #070707;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

#box1 {
  width: 300px;
  height: 300px;
  background-color: crimson;
}

.newText {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -10px;
}

#T1 {
  width: 200px;
  height: 200px;
  background-color: darkred;
}

#T2 {
  width: 200px;
  height: 200px;
  background-color: rgb(1, 2, 63);
}

#T3 {
  width: 200px;
  height: 200px;
  background-color: rgb(3, 63, 1);
}

/*^ GSAP SCROLL TRIGGER  *****************************************************************************************************************************/
#page1 {
  width: 100%;
  height: 100%;
  background-color: rgb(58, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 900;
  color: #fafafa;
}

#page2 {
  width: 100%;
  height: 100%;
  background-color: #df94b3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 900;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 {
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: #fafafa;
  background-color: #5dbb97;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 3rem;
  font-size: 150px;
  font-weight: 900;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  width: 450px;
  height: 450px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 #box {
  border-radius: 54px;
  background: #df94b3;
  box-shadow: inset 30px -30px 60px #9a667c, inset -30px 30px 60px #ffc2ea;
}

#page3 #box {
  border-radius: 59px;
  background: #5dbb97;
  box-shadow: inset 34px -34px 68px #2d5a48, inset -34px 34px 68px #8dffe6;
}

/* !! PAGE 4 */

#page4 {
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: #fafafa;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 3rem;
  font-size: 220px;
  font-weight: 900;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page4 #text_page_4 {
  background: linear-gradient(to right, lime, rgb(1, 122, 1), rgb(9, 78, 9));
  background-clip: text;
  color: transparent;
  /* text-shadow: 0 0 3px orange, 2px 20px 5px #0000FF; */
  /* -webkit-text-stroke: 2px rgb(26, 26, 26); */
}

#page6 {
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
}
#page6 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  font-weight: 900;
  padding: 110px 60px;
}

#page5 {
  width: fit-content;
  height: fit-content;
  background-color: rgb(92, 172, 199);
}

#HORIZONTAL__TEXT {
  font-size: 40vw;
  white-space: nowrap;
  font-weight: 900;
  color: wheat;
}
/*^^^ REVIEW 1 ^^^^ ****************************************************************************************************************************************/
#page1__REVIEW {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2__REVIEW {
  background-color: #2b2b2b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page3__REVIEW {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#BOX__REVIEW__1 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: darkred;
  font-size: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
#BOX__REVIEW__2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: darkblue;
  font-size: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
#BOX__REVIEW__3 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: darkgreen;
  font-size: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
